<mat-expansion-panel expanded="true" class="card__principal">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Pontos
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>Escolha até {{ totalPoints }} opções, sendo obrigatório uma Base:</p>

  <ul class="ul_outras-opces">
    <h2>Bases</h2>
    <li class="ul_outras-opces">
      <div class="title">
        <mat-checkbox
          class="example-margin"
          [disabled]="!totalPoints && !explosao"
          (change)="othersOptions(explosao)"
          [(ngModel)]="explosao"
        >
          <p>
            Explosão [2-dano perto mágica chamativa barulhenta]
          </p>
        </mat-checkbox>
      </div>
    </li>

    <li class="ul_outras-opces">
      <div class="title">
        <mat-checkbox
          class="example-margin"
          (change)="othersOptions(bola)"
          [disabled]="!totalPoints && !bola"
          [(ngModel)]="bola"
        >
          <p>
            Bola [1-dano perto área mágica chamativa barulhenta]
          </p></mat-checkbox
        >
      </div>
    </li>

    <li class="ul_outras-opces">
      <div class="title">
        <mat-checkbox
          class="example-margin"
          (change)="othersOptions(missil)"
          [disabled]="!totalPoints && !missil"
          [(ngModel)]="missil"
        >
          <p>Míssil [1-dano longe mágica chamativa barulhenta]</p></mat-checkbox
        >
      </div>
    </li>

    <li class="ul_outras-opces">
      <div class="title">
        <mat-checkbox
          class="example-margin"
          (change)="othersOptions(muralha)"
          [disabled]="!totalPoints && !muralha"
          [(ngModel)]="muralha"
          ><p>
            Muralha [1-dano perto barreira 1-armadura mágicachamativa
            barulhenta]
          </p></mat-checkbox
        >
      </div>
    </li>

    <h2>Efeitos</h2>

    <li class="ul_outras-opces">
      <div class="title">
        <mat-checkbox
          [disabled]="(!totalPoints && !fogo) || !habilitaEfeitos"
          (change)="othersOptions(fogo)"
          class="example-margin"
          [(ngModel)]="fogo"
          ><p>
            Fogo: Adicione +2 de dano e [fogo] para uma base. Com10+ em uma
            rolagem de magia combativa, o fogo nãovia se espalhar.
          </p></mat-checkbox
        >
      </div>
    </li>

    <li class="ul_outras-opces">
      <div class="title">
        <mat-checkbox
          [disabled]="(!totalPoints && !forca) || !habilitaEfeitos"
          (change)="othersOptions(forca)"
          class="example-margin"
          [(ngModel)]="forca"
          ><p>
            Força ou Vento: Adicione +1 de dano e [empurrão] parauma base; ou +1
            de armadura para uma muralha.
          </p></mat-checkbox
        >
      </div>
    </li>

    <li class="ul_outras-opces">
      <div class="title">
        <mat-checkbox
          [disabled]="(!totalPoints && !raioOuEntropia) || !habilitaEfeitos"
          (change)="othersOptions(raioOuEntropia)"
          class="example-margin"
          [(ngModel)]="raioOuEntropia"
          ><p>
            Raio ou Entropia: Adicione +1 de dano e [brutal] parauma base.
          </p></mat-checkbox
        >
      </div>
    </li>

    <li class="ul_outras-opces">
      <div class="title">
        <mat-checkbox
          [disabled]="(!totalPoints && !frioOuGelo) || !habilitaEfeitos"
          (change)="othersOptions(frioOuGelo)"
          class="example-margin"
          [(ngModel)]="frioOuGelo"
          ><p>
            Frio ou Gelo: Adicione −1 de dano e +2 de armadurapara uma muralha;
            ou +1 de dano e [restritiva] para outras bases.
          </p></mat-checkbox
        >
      </div>
    </li>

    <li class="ul_outras-opces">
      <div class="title">
        <mat-checkbox
          [disabled]="(!totalPoints && !terra) || !habilitaEfeitos"
          (change)="othersOptions(terra)"
          class="example-margin"
          [(ngModel)]="terra"
          ><p>
            Terra: Adicione [empurrão restritiva] para uma base.
          </p></mat-checkbox
        >
      </div>
    </li>

    <li class="ul_outras-opces">
      <div class="title">
        <mat-checkbox
          [disabled]="(!totalPoints && !neocromantica) || !habilitaEfeitos"
          (change)="othersOptions(neocromantica)"
          class="example-margin"
          [(ngModel)]="neocromantica"
          ><p>
            Necromântica: Adicione [drena-vida] para uma base.
          </p></mat-checkbox
        >
      </div>
    </li>
  </ul>
  <mat-action-row>
    <button (click)="movimentos()" mat-button color="primary">
      Movimentos
    </button>
  </mat-action-row>
</mat-expansion-panel>
