<!-- Card Principal para todos dispositivos -->
<mat-card class="card-principal" *ngIf="createCharacter">
  <mat-horizontal-stepper [linear]="!arcano.nome" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form>
        <ng-template matStepLabel></ng-template>
        <mat-form-field class="card-principal__form">
          <mat-label>Nome</mat-label>
          <input [(ngModel)]="arcano.nome" matInput placeholder="Nome" name="nome" required />
        </mat-form-field>

        <p class="p p--aviso">
          Marque uma caixa de Sorte para alterar uma rolagem para 12 ou evitar
          todo o dano de um ferimento.
        </p>
        <p class="p p--slider">
          Salvo
          <mat-slider class="slider__salvo-ileso" thumbLabel [displayWith]="formatLabel" tickInterval="1" min="1"
            max="6"></mat-slider>
          condenado
        </p>

        <p class="p p--aviso">
          Quando você chegar em 4 ou mais, marque ‘Instável’.
        </p>
        <p class="p p--slider">
          Ileso
          <mat-slider class="slider__salvo-ileso" [(ngModel)]="valor" name="slide" thumbLabel
            [displayWith]="formatLabelIleso" tickInterval="1" min="1" max="7"></mat-slider>
          Morrendo
        </p>
        <p class="p p--nao-instavel" *ngIf="valor <= 4">Não instável</p>
        <p class="p p--instavel" *ngIf="valor >= 4">
          Instável(Lesões instáveis pioram com o tempo)
        </p>

        <div>
          <button [disabled]="!arcano.nome" class="button" mat-raised-button matStepperNext>
            Próximo
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <form>
        <ng-template [disabled]="!arcano.nome" matStepLabel></ng-template>
        <mat-form-field class="card-principal__form" appearance="fill">
          <mat-label>Gênero</mat-label>
          <mat-select [(ngModel)]="arcano.genero" name="select">
            <mat-option *ngFor="let genero of generos" [value]="genero">
              {{ genero }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="card-principal__form" appearance="fill">
          <mat-label>Roupas</mat-label>
          <mat-select [(ngModel)]="arcano.roupa" name="select">
            <mat-option *ngFor="let roupa of roupas" [value]="roupa">
              {{ roupa }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="card-principal__form" appearance="fill">
          <mat-label>Olhos</mat-label>
          <mat-select [(ngModel)]="arcano.olhos" name="select">
            <mat-option *ngFor="let olho of olhos" [value]="olho">
              {{ olho }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button [disabled]="!arcano.genero || !arcano.olhos || !arcano.roupa" class="button" mat-raised-button
            matStepperNext>
            Próximo
          </button>
          <button class="button" mat-raised-button matStepperPrevious>
            Voltar
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="firstFormGroup">
      <ng-template></ng-template>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="value" (change)="adicionaValores()">
        <mat-radio-button class="radio-button" value="1">
          <p class="p">
            Braveza ±0, Esperteza +1, Estranheza +2, Firmeza +1, Sutileza −1
          </p>
        </mat-radio-button>
        <mat-radio-button class="radio-button" value="2">
          <p class="p">
            Braveza +1, Esperteza +1, Estranheza +2, Firmeza −1, Sutileza ±0
          </p>
        </mat-radio-button>
        <mat-radio-button class="radio-button" value="3">
          <p class="p">
            Braveza −1, Esperteza +2, Estranheza +2, Firmeza ±0, Sutileza −1
          </p>
        </mat-radio-button>
        <mat-radio-button class="radio-button" value="4">
          <p class="p">
            Braveza −1, Esperteza +1, Estranheza +2, Firmeza ±0, Sutileza +1
          </p>
        </mat-radio-button>
        <mat-radio-button class="radio-button" value="5">
          <p class="p">
            Braveza ±0, Esperteza +1, Estranheza +2, Firmeza ±0, Sutileza ±0
          </p>
        </mat-radio-button>
      </mat-radio-group>

      <div>
        <button class="button" mat-raised-button (click)="salvarPersonagem()">
          Salvar
        </button>
        <button class="button" mat-raised-button matStepperPrevious>
          Voltar
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
<!-- Fim Card Principal para todos dispositivos -->

<!-- ****** Card para mobile***** -->
<mat-card [class]="
    createCharacter
      ? 'card-principal--mobile'
      : 'card-principal--mobile-personagem'
  " *ngIf="showValue">
  <div class="div">
    <ul class="div__list">
      <li class="div__list--item">
        <div class="div--redondo div--redondo--color-braveza">
          {{ arcano.braveza }}
        </div>
        <div class="title">Braveza</div>
      </li>
      <li class="div__list--item">
        <div class="div--redondo div--redondo--color-esperteza">
          {{ arcano.esperteza }}
        </div>
        <div class="title">Esperteza</div>
      </li>
      <li class="div__list--item">
        <div class="div--redondo div--redondo--color-estranheza">
          {{ arcano.estranheza }}
        </div>
        <div class="title">Estranheza</div>
      </li>
      <li class="div__list--item">
        <div class="div--redondo div--redondo--color-firmeza">
          {{ arcano.firmeza }}
        </div>
        <div class="title">Firmeza</div>
      </li>
      <li class="div__list--item">
        <div class="div--redondo div--redondo--color-sutileza">
          {{ arcano.sutileza }}
        </div>
        <div class="title">Sutileza</div>
      </li>
    </ul>
  </div>
</mat-card>

<!-- Fim card mobile -->

<!-- Card Com o personagem -->
<mat-accordion class="card-principal--mobile card-personagem" *ngIf="!createCharacter">
  <mat-expansion-panel expanded="true" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Caçador Arcano
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="p p--personagem">Nome: {{ arcano.nome }}</p>
    <p class="p p--personagem">Gênero: {{ arcano.genero }}</p>
    <p class="p p--personagem">Olhos: {{ arcano.olhos }}</p>
    <p class="p p--personagem">Roupas: {{ arcano.roupa }}</p>

    <mat-action-row>
      <button class="button" mat-raised-button routerLink="/nivel">
        Continuar
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<!-- *** FIM Card com o personagem*** -->

<!-- Card das classificações dos personagens -->
<mat-card [class]="
    !createCharacter ? 'card-principal--web' : 'card-principal--web-personagem'
  " *ngIf="showValue">
  <mat-grid-list class="grid-list" cols="2">
    <mat-grid-tile>
      <div class="col-sm-6 boxEtapas">
        <div class="div">
          <ul class="div__list">
            <li class="div__list--item">
              <div class="div--redondo div--redondo--color-braveza">
                {{ arcano.braveza }}
              </div>
              <div class="title">Braveza</div>
            </li>
            <li class="div__list--item">
              <div class="div--redondo div--redondo--color-esperteza">
                {{ arcano.esperteza }}
              </div>
              <div class="title">Esperteza</div>
            </li>
            <li class="div__list--item">
              <div class="div--redondo div--redondo--color-estranheza">
                {{ arcano.estranheza }}
              </div>
              <div class="title">Estranheza</div>
            </li>
            <li class="div__list--item">
              <div class="div--redondo div--redondo--color-firmeza">
                {{ arcano.firmeza }}
              </div>
              <div class="title">Firmeza</div>
            </li>
            <li class="div__list--item">
              <div class="div--redondo div--redondo--color-sutileza">
                {{ arcano.sutileza }}
              </div>
              <div class="title">Sutileza</div>
            </li>
          </ul>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="card-personagem-web" *ngIf="!createCharacter">
        <mat-card-title> Caçador Arcano </mat-card-title>
        <hr />
        <mat-card-content>
          <p class="p p--personagem">Nome: {{ arcano.nome }}</p>
          <p class="p p--personagem">Gênero: {{ arcano.genero }}</p>
          <p class="p p--personagem">Olhos: {{ arcano.olhos }}</p>
          <p class="p p--personagem">Roupas: {{ arcano.roupa }}</p>
        </mat-card-content>
        <button class="button" mat-raised-button routerLink="/nivel">
          Continuar
        </button>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>