.card-principal {
    max-width: 1024px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 120px;
}

.label {
    font-weight: bold;
}

.div--redondo {
    color: white;
    border-radius: 100%;
    overflow: hidden;
    height: 50px;
    width: 50px;
    border: 1px solid transparent;
    line-height: 50px;
    /* float: left; */
    text-align: center;
}
.div--redondo--color-braveza {
    background-color: #d94e41;
}
.div--redondo--color-esperteza {
    background-color: #395953;
}

.div--redondo--color-estranheza {
    background-color: #8c856d;
}

.div--redondo--color-firmeza {
    background-color: #412c38;
}

.div--redondo--color-sutileza {
    background-color: #7638c2;
}

.div--divisor {
    width: 20%;
    float: left;
}

.text-center {
    text-align: center;
    padding-bottom: 30px;
}

.section--movimento {
    border-bottom: 1px solid #d3d3d3;
}

.section--combativa {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}
.section--historico {
    border-top: 1px solid #d3d3d3;
}

.ignore {
    color: white;
}

.slider {
    width: 300px;
    color: black;
}

.p_instavel {
    color: red;
}

.span {
    color: #412a80;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .div--divisor {
      width: 33%;
  }
  .div--divisor--ultimos {
      width: 50%;
      margin-bottom: 20px;
  }
  .slider {
      width: auto;
      color: black;
  }
}
